#nav-container{
  background: black;
  width: 90px;
  height: 100vh;
  outline: none;
}

.nav-icon-cointainer{
  width: 90px;
  height: 90px;
  color: grey;
  cursor: pointer;
}

.nav-icon-cointainer-active{
  @extend .nav-icon-cointainer;
  color: grey;
  background: #f6f6f6;
}


.nav-icon-cointainer:hover {
  background: #f6f6f6;
}

.nav-icon-base-layer{
  width: 100%;
  height: 100%;
}
.nav-icon{
  font-size: 28px;
  width: 100%;
  height: 100%;
}

.nav-logo{
  background-color: red;
  padding: 15px 0;
}

.nav-regular{
  padding: 30px;
}