.focus-list-content{
  width: 75%;
  height: 100;
}

.focus-list-head{
  width: 100%;
  font-size: 20px;

  .focus-list-tabs {
    width: 50%;
    font-size: 20px;
    color: grey;
    
    .focus-list-tab{
      width: 100%;
      text-align: center;
      cursor: pointer;
    }

    .focus-title-active, 
    .focus-list-tab:hover{
      font-size: 28px;
      color: black;
      cursor: pointer;
    }
  }
}

.focus-list-results{
  width: 100%;
  background-color: white;
  margin-top: 30px;
  padding: 30px;
}