.signIn-register-mask-layer{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  margin-left: 90px;
  width: calc(100vw - 90px);
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 999;
}

.signIn-register-main-panel{
  width:300px;
  border-radius: 30px;
  background-color: #c8cdd3;
}

.signIn-content{
  width: 100%;
  padding: 0 30px;
  
  .login-input-wrapper{
    width: 100%;
    margin-bottom: 12px;
    border-bottom: solid 2px #9299a1;

    i {
      font-size: 20px;
      color: #9299a1;
    }

    input{
      outline: none;
      background-color: inherit;
    }
  }

  .login-button-wrapper{
    width: 100%;
    padding-bottom: 12px;
    cursor: pointer;

    .login-button{
      width: 110px;
      height: 35px;
      background-color: #3d4e58;
      color: #98a6ae;
    }

    span{
      font-size: 13px;
      color: #9299a1;
      font-style: italic;
      cursor: pointer;
    }
  }
}

.division-line{
  width: 100%;
  height: 5px;
  background-color: #7373737a;
}

.register-button{
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
}